<h1 align="center">陶宁的博客</h1>



<div style="text-align:center">
   <%=link_to  image_tag("kobe.jpeg"), image_path("kobe.jpeg") %>
   <%=link_to  image_tag("ai.jpeg"), image_path("ai.jpeg") %>
   <%=link_to  image_tag("tmac.jpeg"), image_path("tmac.jpeg") %>
   <%=link_to  image_tag("cater.jpeg"), image_path("cater.jpeg") %>
</div>
